@font-face {
    font-family: 'PTsans';
    src: url("../fonts/PTSans.ttf") format("truetype");
}
@font-face {
    font-family: 'PTsansBold';
    src: url("../fonts/PTSansBold.ttf") format("truetype");
}
@font-face {
    font-family: 'robotoRegular';
    src: url("../fonts/roboto-regular.ttf") format("truetype");
}
@font-face {
    font-family: 'RobotoBlack';
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}
body{
    font-family: 'robotoRegular';
    font-size: 16px;
    overflow-x: hidden;
}
/*main*/
.about-context-head__h3,
.our-products__h3,
.advantages__h3{
    font-size: 1.875em;
    color: #333;
}
.order-button{
    background: #e37210;
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
    font-family: 'PTsansBold';
    font-size: 1.25em;
}
.send-button{
    background: #0b687a;
    color: #fff;
    padding: 15px 30px;
    display: inline-block;
    font-weight: 500;
    border: none;
    font-size: 1.25em;
    font-family: 'PTsansBold';
}
.responsive-img{
    width: 100%;
    height: 100%;
}
/*ADAPTIVE MENU*/
.adaptive-menu__input{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.adaptive-menu__label{
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/decoration/menubutton.png') no-repeat;
    background-position: center center;
    display: none;
}



.header-container-contacts{
    background: #0b687a;
}
.header-container-contacts{

}
.header-container-container{
    padding: 0;
    position: relative;
    font-family: 'PTsans';
}
.header-container-contacts-img{
    padding: 30px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-container-contacts-img__a{
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.header-container-contacts-links{
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-container-contacts-links__a{
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 0 30px;
    font-size: 0.875em;
}
.header-container-contacts-links__a:nth-child(2):before,
.header-container-contacts-links__a:nth-child(2):after{
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background: rgba(255,255,255,0.32);
    position: absolute;
    top: 0;
}
.header-container-contacts-links__a:nth-child(2):before{
    left: -15px;
}
.header-container-contacts-links__a:nth-child(2):after{
    right: 15px;
}
.header-container-contacts-links__a:last-child{
    padding-right: 0;
}
/*header-icons*/
.header-container-contacts-links__img{
    position: absolute;
    left: 0;
}

/*header-menu*/
.header-container-menu-container{
    padding: 0;
}
.header-container-menu{
    padding: 20px 0;
    background: #fff;
}
.header-container-menu-ul{
    margin: 0;
    padding-left: 0;
    text-align: right;
}
.header-container-menu-ul__li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}
.header-container-menu-ul__a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

/*SUBMENU*/
.header-submenu__span{
    display: inline-block;
    width: 12px;
    height: 6px;
    background: url('../img/decoration/arrowdown.png');
}
.header-container-menu-subul{
    position: absolute;
    top: 38px;
    left: 100px;
    z-index: 100;
    background: #fff;
    text-align: left;
    padding-left: 0;
    max-width: 215px;
    padding: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 1, 0, 0.2);
}
.header-container-menu-subul::before {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 140px; top: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-bottom: 10px solid #fff; /* Добавляем треугольник */
}

.header-container-menu-subul__li{
    list-style: none;
}
.header-container-menu-subul__a{
    text-decoration: none;
    color: #6d7984;
    padding: 10px;
    display: block;
}
.header-container-menu-subul__a:hover{
    background: #0b687a;
    color: #fff;
}





/*SLIDER*/

.header-slider-item__img{
    width: 100%;
}
.header-slider-item-first,
.header-slider-item-second,
.header-slider-item-third{
  background: url('../img/decoration/headerSlider1.png');
  background-size: cover;

}
.header-slider-item-container{
    padding: 200px 0;
}
.header-slider-item__h1{
    font-family: 'RobotoBlack';
    line-height: 1.35;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
}
.header-slider-item__p{
    color: #fff;
    margin-bottom: 40px;
    font-size: 1.625em;
}












/*ABOUT*/
.about{
    padding: 50px 0;
}
.about-photo{
    background: url('../img/decoration/aboutphoto.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 0;
}
.about-container{
    max-width: 75%;
    margin-left: 0;
    padding: 0;
}
.about-context-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.about-context-head:after{
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: #e37210;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-context-head__a{
    display: block;
    width: 55px;
    height: 35px;
    background: url('../img/decoration/arroworange.png');
}
.about-context-description__p{
    color: #717171;
    line-height: 1.563;
}
.about-context-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-context-info-item{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.about-context-info-item__span{
    color: #e37210;
    font-size: 50px;
    font-weight: 700;
    padding-right: 20px;
}
.about-context-info-item__span_more,
.about-context-info-item__span_over{
    position: relative;
}
.about-context-info-item__span_more:before{
    content: 'более';
    position: absolute;
    font-family: 'RobotoBlack';
    top: -10px;
    left: 5px;
    font-size: 14px;
}
.about-context-info-item__span_over:before{
    content: 'свыше';
    position: absolute;
    font-family: 'RobotoBlack';
    top: -10px;
    left: 5px;
    font-size: 14px;
}

.about-context-info-item:last-child > .about-context-info-item__span{
    padding-right: 35px;
}
.about-context-info-item__p{
    display: inline-block;
    margin: 0;
    color: #333;
}



/*OUR PRODUCTS*/
.our-products{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
            url('../img/decoration/backgroundourp.jpg') no-repeat;
    background-size: cover;
    padding: 70px 0;
}
.our-products__h3{
    color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.our-products-content{
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.our-products-content-item-img{
    margin: 0 auto;
}
.our-products-order{
    text-align: center;
}
.our-products-content-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.our-products-content-item-desc{
    text-transform: uppercase;
    text-align: center;
}



/*ADVANTAGES*/
.advantages{
    padding: 50px 0;
}
.advantages-container{
    max-width: 75%;
    margin-right: 0;
    padding: 0;
}
.advantages__h3{
    text-transform: uppercase;
}
.about-context-description__ol {
    list-style: none;
    counter-reset: counter;
}
.about-context-description__ol .about-context-description__li {
    counter-increment: counter;
    position: relative;
    padding-bottom: 10px;
    color: #717171;
    line-height: 1.563;
}
.about-context-description__ol .about-context-description__li::before {
    content: "#"  counter(counter);
    color: #e37210;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    left: -40px;
}
.about-photo-advantages{
    background: url('../img/decoration/advantagesphoto.jpg') no-repeat;
    background-size: cover;
    background-position: 0 0;
}



/*FOOTER*/
.footer-order__h3{
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    font-family: 'RobotoBlack';
    font-size: 1.625em;
}
.footer-contacts{
    background: #f1f1f1;
    padding: 70px 0;
}
.footer-order{
    padding: 30px 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/decoration/footerbanner.jpg') no-repeat;
}
.footer-contacts-content-map_map{
    width: 100%;
    height: 360px;
}
.footer-contacts-content-map_desc__p{
    color: #717171;
}
.footer-contacts-content-contacts_phones__p{
    display: block;
    padding-left: 25px;
    margin-bottom: 10px;
    color: #717171;
    text-decoration: none;
}
.footer-contacts-content-contacts_phones__p_first,
.footer-contacts-content-contacts_phones__p_mail{
    position: relative;
}
.footer-contacts-content-contacts_phones__p_first:before{
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 15px;
    height: 18px;
    background: url('../img/decoration/callgreenicon.png');
}
.footer-contacts-content-contacts_phones__p_mail:before{
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 17px;
    height: 16px;
    background: url('../img/decoration/smsgreeenicon.png');
}
.footer-contacts-content-contacts_social{
    display: flex;
    align-items: center;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}
.footer-contacts-content-contacts_social__a{
    display: block;
    width: 27px;
    height: 28px;
    margin-left: 10px;
}
.footer-contacts-content-contacts_social__a:nth-child(2){
    background: url('../img/decoration/vkicon.png');
}
.footer-contacts-content-contacts_social__a:nth-child(3){
    background: url('../img/decoration/youtubeicon.png');
}



/*FORM FOOTER*/
.footer-adaptive-form__span{
    display: none;
}
.footer-contacts-form{
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 2, 0.15);
    padding: 1.5em 5px;
}
.footer-contacts-form__h3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 1.25em;
}
.footer-contacts-form__input,
.footer-contacts-form__textarea{
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 10px;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    background: #f9fbfc;
    border: 1px solid #dadada;
}
.footer-contacts-form__p{
    width: 90%;
    margin: 1em auto;
    color: #717171;
}
.footer-contacts-form__input_submit{
    display: block;
    margin: 0 auto;
}

/*footer menu*/
.footer-contacts-content-contacts{
    color: #717171;
}
.footer-contacts-content-contacts_menu__ul{
    padding-left: 0;
}
.footer-contacts-content-contacts_menu__li{
    list-style: none;
    padding: 10px 0;
}
.footer-contacts-content-contacts_menu__a{
    text-decoration: none;
    color: #717171;
}
/*CATALOG*/

.catalog-menu-menu-head__h3{
    text-transform: uppercase;
    margin: 0;
}

.catalog-description__h3{
    padding-left: 15px;
    text-transform: uppercase;
    position: relative;
}
.catalog-description__h3:after{
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: #e37210;
    position: absolute;
    bottom: -15px;
}
/*catalog*/
.catalog{
    background: #f1f1f1;
}
.catalog-menu-menu{
    padding-right: 0;
}
.catalog-menu-menu-head{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 15px 15px;
}
.catalog-menu-menu-head__a{
    display: block;
    width: 27px;
    height: 23px;
    background: url('../img/decoration/download.png');
}
.catalog-menu-goods{
    background: #fff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 2, 0.15);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 0;
    padding-bottom: 15px;
}
.catalog-menu-goods-item{
    border: 1px solid #d5d5d5;
    margin-bottom: 15px;
}



/*CATALOG SUBMENU*/
.catalog-menu-menu-menu{
    padding-left: 0;
    margin: 0;
}

.catalog-menu-menu-menu__li{
    list-style: none;
    border-bottom: 1px solid #d5d5d5;
}
.catalog-menu-menu-menu__a{
    text-decoration: none;
    color: #333333;
    padding: 15px 0;
    padding-left: 60px;
    position: relative;
    display: block;
}
.catalog-menu-menu-menu__a_one:before,
.catalog-menu-menu-menu__a_two:before,
.catalog-menu-menu-menu__a_three:before,
.catalog-menu-menu-menu__a_four:before,
.catalog-menu-menu-menu__a_five:before{
    position: absolute;
    left: 15px;
    top: 7px;
}
.catalog-menu-menu-menu__a_one:before{
    content: url('../img/decoration/smallspring01.png');
}
.catalog-menu-menu-menu__a_two:before{
    content: url('../img/decoration/smallspring02.png');
}
.catalog-menu-menu-menu__a_three:before{
    content: url('../img/decoration/smallspring03.png');
}
.catalog-menu-menu-menu__a_four:before{
    content: url('../img/decoration/smallspring04.png');
    left: 0;
}
.catalog-menu-menu-menu__a_five:before{
    content: url('../img/decoration/smallspring05.png');
}
.catalog-menu-menu-menu__a_active{
    background: #0b687a;
    color: #fff;
}



.catalog-description__h3{
    font-size: 1.5em;
}
.catalog-description-text__p{
    color: #717171;
}
.about-context-description__ol_catalog{
    color: #717171;
}
.about-context-description__ol_catalog li.about-context-description__li_catalog{
    padding: 15px 0;
    padding-bottom: 10px;
}









/*MEDIA*/
@media only screen and (max-width : 992px){
    /*ADAPTIVE MENU*/
    .adaptive-menu__label{
        display: block;
    }
    .header-container-menu-ul{
        display: none;
        position: absolute;
        top: 108px;
        animation: slickmenu 1s;
        animation-fill-mode: forwards;
        animation-direction: alternate;
        bottom: 0;
        background: #fff;
        z-index: 20;
        text-align: left;
        width: 50%;
    }
    .adaptive-menu__input:checked + .header-container-menu-ul{
        display: block;
    }
    .adaptive-menu__input:checked ~ .adaptive-menu__label{
        background: url('../img/decoration/closemenu.png');
    }
    @keyframes slickmenu {
        from {right: -50%;}
        to {right: 0;}
    }

    .header-container-menu-ul__li{
        display: block;
        padding: 20px 0;
        padding-left: 20px;
    }
    .header-container-menu-ul__a{
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
    }

   div.container{
       max-width: 95%;
       margin: 0 auto;
   }
    /*HEADER*/
    .header-container-menu{
        padding-right: 15px;
    }

    .header-slider-item-container{
        padding: 100px 0;
    }
    /*ABOUT*/
    .about{
        padding: 30px 0;
    }
    .advantages{
        padding: 30px 0;
    }
    div.about-container{
        max-width: 97.5%;
        margin-left: 0;
    }
    div.advantages-container{
        max-width: 97.5%;
        margin-right: 0;
    }

    /*FOOTER*/
    .footer-contacts{
        background: #fff;
        padding: 50px 0;
    }
    div.footer-contacts-container{
        max-width: 97.5%;
    }
    .footer-adaptive-form__span{
        display: inline-block;
    }
    .footer-contacts-content-form{
        display: none;
    }

}
@media only screen and (max-width : 576px){
    /*HEADER*/
    .header-container-container{
        width: 95%;
        margin: 0 auto;
        padding: 0;
    }
    .header-container-menu{
        width: 95%;
        margin: 0 auto;
    }
    .header-container-contacts-links__a{
        display: inline-block;
        width: 16px;
        height: 16px;
        padding: 0 20px;
    }
    .header-container-contacts-links__span{
        display: none;
    }
    .header-container-contacts-img{
        padding: 25px;
    }
    .header-slider-item-container{
        width: 95%;
        margin: 0 auto;
        padding: 70px 0;
    }
    .header-slider-item__h1{
        font-size: 1.875em;
    }

    /*ABOUT*/
    .about{
        padding: 10px 0;
    }

    div.about-container,
    div.advantages-container{
        max-width: 95%;
        margin: 0 auto;
    }
    .about-photo,
    .about-photo-advantages{
        display: none;
    }



    /*ADVANTAGES*/
    .advantages{
        padding: 10px 0;
    }
    .advantages-container{
        max-width: 95%;
        margin: 0 auto;
    }

    /*FOOTER*/
    .adaptive-footer-row{
        flex-direction: column-reverse;
    }
    .footer-contacts{
        padding: 30px 0;
    }
    div.footer-contacts-container{
        max-width: 100%;
    }
    .footer-order__h3,
    .footer-order-button{
        text-align: center;
    }

}